body {
    max-width: 600px;
}

#btn {
    color: cadetblue;
    height: 25px;
    width: 25px;
    margin: 1.0px 0;
    font-size: 20px;
}

#output-numbers {
    border-radius: 5px;
    height: 45px;
    width: 230px;
    background-color: black;
    color: aquamarine;
    font-size: 40px;
}

#btn1 {
    color: cadetblue;
    height: 25px;
    width: 52px;
    margin: 1.0px 0;
    font-size: 20px;
}